__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
.eggs/
*.egg-info/
.installed.cfg
*.egg
.env
.venv/
venv/
ENV/
env/
instance/
.webassets-cache
.pytest_cache/
.mypy_cache/
.coverage
coverage.xml
htmlcov/
.pyre/
.ruff_cache/
.idea/
.vscode/
.DS_Store
*.log
*.sqlite3
*.db
/inprogress/*
/output/*
docker-compose.yml
